<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
    <comment>Configuratie</comment>

    <entry key="int.width">1200</entry>
    <entry key="int.height">640</entry>
    <entry key="int.width.min">1024</entry>
    <entry key="int.height.min">600</entry>
    <entry key="int.frames_per_second">60</entry>
    <entry key="int.updates_per_second">30</entry>
    <entry key="bool.show_fps">yes</entry>

    <entry key="path.sound.cheer">snd/cheer.wav</entry>
    <entry key="path.sound.coin">snd/coin.wav</entry>
    <entry key="path.sound.music">snd/music.wav</entry>

    <entry key="string.wait">Een ogenblik geduld...</entry>
    <entry key="string.press_a">Druk op A om te beginnen...</entry>
</properties>
