<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
    <comment>Configuratie</comment>

    <entry key="app.width">1200</entry>
    <entry key="app.height">640</entry>
    <entry key="app.width.min">1200</entry>
    <entry key="app.height.min">640</entry>

    <entry key="app.frame.wait">Een ogenblik geduld...</entry>
</properties>
